@{
    Layout = null;
}


<div class="list-group">
     <a href="#" class="list-group-item active" > 
         所有空间
     </a>

     <a href="/Document/Recent" class="list-group-item">
        <span class="glyphicon glyphicon-time"></span> 最近
     </a>

     <a href="/Document/Office" class="list-group-item">
        <span class="glyphicon glyphicon-file"></span> 文档
     </a>

     <a href="/Document/CAD" class="list-group-item">
        <span class="glyphicon glyphicon-file"></span> 工程图
     </a>

      <a href="/Document/Image" class="list-group-item">
        <span class="glyphicon glyphicon-picture"></span> 图片
     </a>

    <a href="/Document/Trash" class="list-group-item">
        <span class="glyphicon glyphicon-trash"></span> 回收站
    </a>
    
</div>

