
@model WebSite2.Models.DisplayViewModel
@{
    Layout = null;
}
<div class="content">
            
    <div id="documentViewer" class="flexpaper_viewer" style="height: 800px">
        <h3 class="notFounfProm">该文档不存在</h3>
    </div>
</div>

