@model WebSite2.Models.DisplayViewModel
@{
    Layout = null;
}

<div class="htmlIframe">
    <iframe src="@Model.Document.DisplayPath" frameborder="0" scrolling="auto" class="htmlIframeC">
        你的浏览器不支持iframe
    </iframe>
</div>


<script type="text/javascript">
    $(function () {
        var magnification = 1;
        $(".viewcontent").on('click', '.zoom', function () {//放大
           
            var zoomType = $(this).data('zoom-type');
            if (zoomType == "zoomPlus") {
                magnification = magnification + 0.1;
            } else if (zoomType == "zoomOrig") {
                magnification = 1;
            } else {
                magnification = magnification - 0.1;
                if (magnification < 1) {
                    magnification = 1;
                }
            }
         
            $("iframe").css("transform", "scale(" + parseFloat(magnification).toFixed(1) + ")");
        });
    });
</script>