<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="beitmemcached" type="System.Configuration.NameValueSectionHandler" />
    <section name="slickUpload" type="Krystalware.SlickUpload.Configuration.SlickUploadSection, Krystalware.SlickUpload" requirePermission="false" />

  </configSections>
  <slickUpload>
    <uploadProfiles>
      <add name="default">
        <uploadStreamProvider type="File" location="~/Files" existingAction="Overwrite"/>
      </add>
      <add name="slick">
        <uploadStreamProvider type="File" location="~/SlickFiles" existingAction="Overwrite"/>
      </add>
      <add name="clientApi">
        <uploadStreamProvider type="File" location="~/ClientApiFiles" existingAction="Overwrite"/>
      </add>
      <add name="customFileName">
        <uploadStreamProvider type="UploadTest.Storage.CustomFileNameUploadStreamProvider, UploadTest" location="~/CustomFileNameFiles" existingAction="Overwrite"/>
      </add>
      <add name="postProcess">
        <uploadStreamProvider type="File" location="~/PostProcessFiles" existingAction="Overwrite"/>
      </add>
      <add name="sqlServer">
        <uploadStreamProvider type="SqlClient" connectionStringName="su" table="SlickUploadFile" keyField="FileId" dataField="Data" fileNameField="FileName" dataType="Image" />
      </add>
      <add name="customSqlServer">
        <uploadStreamProvider type="AspNetMvcRazorCs.Storage.CustomSqlUploadStreamProvider, AspNetMvcRazorCs" connectionStringName="su" table="SlickUploadFileCustom" keyField="FileId" dataField="Data" fileNameField="FileName" dataType="Image" />
      </add>
      <add name="multiple">
        <uploadStreamProvider type="File" location="~/MultipleFiles" existingAction="Overwrite"/>
      </add>
      <add name="s3">
        <uploadStreamProvider type="S3" accessKeyId="" secretAccessKey="" bucketName="" />
      </add>
      <add name="validation">
        <uploadStreamProvider type="File" location="~/ValidationFiles" existingAction="Overwrite"/>
      </add>
      <add name="mongodb">
        <uploadStreamProvider type="Services.Providers.MongoDBUploadStreamProvider, Services" storedir="E:\docviewer\src\Web\WebAPI2\Docs\"/>
      </add>
    </uploadProfiles>
  </slickUpload>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-WebAPI-20150302170520;Integrated Security=SSPI" />
    <add name="SQLServerConnectionString" connectionString="Data Source=192.168.1.29;Initial Catalog=docviewer;User ID=sa;password=cry.cap.fox-999" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <beitmemcached>
    <add key="MemcachedConfig" value="localhost" />
  </beitmemcached>
  <appSettings>

    <!--MongoDB配置,服务器需要修改-->
    <add key="connection" value="192.168.1.36:27017"/>
    <add key="database" value="docviewer"/>
    <add key="ReplicaSetName" value="myset"/>
    
    <!--<add key="ThisDocumentApiUrl" value="http://localhost:23427" />-->
    <add key="ThisDocumentApiUrl" value="http://localhost:18889" />
    <add key="msmq_address" value=".\private$\incity" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="segmentPath" value="D:\Segment" />
    <add key="uri" value="tcp://localhost:61616" />
    <add key="IMAGEUPLOAD_API" value="http://localhost:18889" />
  
    <!--图片相关配置,单元测试和API配置需要一致-->

    <!--图片支持大小-->
    <add key="ImageStore.MaxImageSize" value="3145728"/>
    <!--图片支持类型-->
    <add key="ImageStore.SupportImageType" value="\.(?i:bmp|jpeg|jpg|png|gif)$"/>
    <!--原图存储路径-->
    <add key="ImageStore.ImageDir" value="E:\docviewer\src\Web\WebAPI2\Images\View\"/>
    <!--原图显示Url-->
    <add key="ImageStore.ImageUrl" value="http://localhost:18889/Images/View/"/>
    <!--压缩图存储路径-->
    <add key="ImageStore.CompressImageDir" value="E:\docviewer\src\Web\WebAPI2\Images\Compress\"/>
    <!--压缩图显示Url-->
    <add key="ImageStore.CompressImageUrl" value="http://localhost:18889/Images/Compress/"/>
    <!--缩略图存储路径-->
    <add key="ImageStore.ThumbImageDir" value="E:\docviewer\src\Web\WebAPI2\Images\Thumb\"/>
    <!--缩略图显示Url-->
    <add key="ImageStore.ThumbImageUrl" value="http://localhost:18889/Images/Thumb/"/>

    <!--文档存储目录-->
    <add key="StoreDir" value="E:\docviewer\src\Web\WebAPI2\Docs\"/>
    <!--文档下载路径-->
    <add key="DownloadUrl" value="http://localhost:18889/api/document/download?id="/>
    
    <!--文档预览目录-->
    <add key="DisplayDir" value="E:\docviewer\src\Web\WebAPI2\Docs\"/>
    
    <!--文档浏览路径-->
    <add key="DisplayUrl" value="http://localhost:18889/Docs/"/>
    
    <!--文档下载临时存储路径-->
    <add key="DownloadTempDir" value="E:\docviewer\src\Web\WebAPI2\Previews\"/>
    
    <!--文档API预览路径-->
    <add key="PreviewUrl" value="http://localhost:18889/view?id="/>
    
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <!--文本日志-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/webapi.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="500KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <!--数据库日志-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=192.168.1.29;Initial Catalog=monkey_km;Persist Security Info=True;User ID=sa;Password=cry.cap.fox-999" />
      <commandText value="INSERT INTO dbo.sysLog ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" executionTimeout="3600"/>
    <httpModules>
      <add name="SlickUploadModule" type="Krystalware.SlickUpload.Web.SlickUploadModule, Krystalware.SlickUpload" />
    </httpModules>
  </system.web>
  
  
  <system.webServer>
  <validation validateIntegratedModeConfiguration="false"/>
  <modules>
    <remove name="FormsAuthenticationModule" />
    <add name="SlickUploadModule" type="Krystalware.SlickUpload.Web.SlickUploadModule, Krystalware.SlickUpload" preCondition="integratedMode" />

  </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
  </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
