<div class="jumbotron">
    <h1>DocViewer API</h1>
    <p class="lead">DocViewer API 为文档管理系统的开发者提供了一个基于Restful接口的第三方调用接口，可以实现空间管理，文档管理，上传和Office的在线预览。</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>数据API</h2>
        <p>数据API包含空间的添加，查看，修改，文档的添加，查看，修改.</p>
        <p><a class="btn btn-default" href="/Help">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>上传组件</h2>
        <p>上传组件基于Uploadify控件实现，开发者只要调用几行代码可实现多文件上传功能.</p>
        <p><a class="btn btn-default" href="/Plugin/Upload">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>浏览组件</h2>
        <p>浏览组件基于FlexPaper控件实现，开发者只要调用几行代码可实现文档，工程图，图片的在线浏览.</p>
        <p><a class="btn btn-default" href="/Plugin/Browser">了解更多 &raquo;</a></p>
    </div>
</div>
