
@model WebAPI2.Models.DisplayViewModel
@{
    ViewBag.Title = @Model.Document.FileName;
    Layout = null;
}

<style type="text/css">
    
</style>

<div class="dlp">
    <p>@Html.Raw(Model.Document.FileName)</p>
    <p><a class="btn" href="@Model.Document.DownloadPath">下 载</a></p>
</div>

 