<div id="upload-queue"></div>
<div style="float:left;position:absolute;">
	<div style="position:absolute;left:0px;top:0px;">
		<button class="btn btn-primary" type="submit"  onclick="">
			<span>文件上传</span>       
		</button>&nbsp;<br/>
	</div>
    <div style="position:absolute;left:0px;top:0px;">
		<input id="file_upload" type="file" name="Filedata" />
	</div>
</div>

