@model Services.Contracts.DocumentObject




<div class="viewbox">
    <div class="viewcontent">
        <div class="breadcrumb">
            <span class="homeicon"></span>
            <a href="/" class="home">所有空间</a>
            <span class="divide">></span>
            <a href="/Document/Office" class="home">文档</a>
        </div>
        <iframe src="@Model.DisplayPath" frameborder="0" scrolling="auto" style="width: 100%; height: 822px; background: #ffffff;">
            你的浏览器不支持iframe
        </iframe>
    </div>
</div>