@model Services.Contracts.DocumentObject



<div class="row-fluid">
    <div class="col-md-12 ">
        <ol class="breadcrumb">

            <li class="pull-right no-text-shadow">
			    <span><a class="button" href="@Model.DownloadPath">下载</a></span>
			</li>
        </ol>
       <div id="documentViewer" class="flexpaper_viewer">
            
       </div>
    </div>
</div>