@{
    Layout = null;
}
@model List<Services.Contracts.SpaceObject>
<div class="list-group">

      <a href="/Space/Index" class="list-group-item active" > 
         所有空间
     </a>

     <a href="/Space/Mine" class="list-group-item">
        我的空间
    </a>
    
    

</div>

