@model WebSite2.Models.HomeViewModel


@Html.Partial("_QuickMenu", Model.MenuViewModel)



<div class="viewbox">
    <div class="viewcontent">
        <div class="breadcrumb">
            <span class="homeicon"></span>
            <a href="/" class="home">首页</a>
        </div>
        <div class="content">
            
            <div id="documentViewer" class="flexpaper_viewer" style="height: 800px">该空间已经不存在</div>
        </div>
    </div>
</div>
